# Twitch API Credentials
MAIN_VITE_TWITCH_CLIENT_ID=
MAIN_VITE_TWITCH_CLIENT_SECRET=

# YouTube API Credentials (Google Cloud Console)
MAIN_VITE_YOUTUBE_API_KEY=
MAIN_VITE_YOUTUBE_CLIENT_ID=
MAIN_VITE_YOUTUBE_CLIENT_SECRET=

# Kick API Credentials (Official Developer Portal)
MAIN_VITE_KICK_CLIENT_ID=
MAIN_VITE_KICK_CLIENT_SECRET=
